include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include shuttle_cock *.css
recursive-include shuttle_cock *.csv
recursive-include shuttle_cock *.html
recursive-include shuttle_cock *.ico
recursive-include shuttle_cock *.js
recursive-include shuttle_cock *.json
recursive-include shuttle_cock *.md
recursive-include shuttle_cock *.png
recursive-include shuttle_cock *.py
recursive-include shuttle_cock *.svg
recursive-include shuttle_cock *.txt
recursive-exclude shuttle_cock *.pyc